.orbitron-normal {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html, body {
	overflow: hidden;
	margin: 0;
	width: 100%;
	height: 100%;
    color: white;
}

/* based off https://jsfiddle.net/sojzu8a5/1/*/
#loading-screen {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 1;
 	transition: 1s opacity;
}

#loading-screen.fade-out, #tooltip.fade-out {
    opacity: 0;
}

#loading-screen p {
    text-align: center;
    position: relative;
    top: 30%;
    max-width: 70%;
    margin: auto;
    line-height: 150%;
    font-family: 'Orbitron', sans-serif;
}

/* progress circle is inspired by https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader */
#progress-circle{
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 6px solid #f3f3f3;
    border-top:  6px solid #1f8ab9;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#year-text {
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    top: 0px;
    margin: 16px 0;
    width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
    font-size: 36px;
    font-weight: bold;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#instructions {
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    bottom: 10px;
    margin: 16px 0;
    width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
    font-size: 20px;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

/* tooltip is inspired by https://codepen.io/pookagehayes/pen/LYgjzLw?editors=1100 */
/* and https://css-tricks.com/gradient-borders-in-css/ */
#tooltip {
    font-family: 'Orbitron', sans-serif;
    z-index: 1000;
    position: absolute;
    top: 15%;
    right: 7.5%;
    /* border-radius: 0% 10% 0% 10%;; */
    box-sizing: border-box;
    padding: 5px;
    background-clip: border-box;
    border: solid 1px transparent;
    clip-path: polygon(0% 0%,
                        80% 0%,
                        100% 20%,
                        100% 100%,
                        20% 100%,
                        0% 80%);
  
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -1px;
      /* border-radius: inherit; */
      background: linear-gradient(to bottom, #0042BD, #00153B);
    }
}

#tooltip .inner-box{
    background-color: #2eade4;
    border: solid 3px #40839D;
    /* border-radius: 0% 10% 0% 10%;; */
    padding: 17px;
}

.inner-box p {
    margin: 7.5px 0;
    line-height: 20px;
    min-width: 125px;
    color: #000;
    font-size: 110%;
}

.bold {
    font-weight: bold;
    font-size: 111.5%;
}